
name: Sonar-Build
on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        # Disabling shallow clone is recommended for improving relevancy of reporting
        fetch-depth: 0

    - name: sonarscan-dotnet
      uses: highbyte/sonarscan-dotnet@master
      with:
        # The key of the SonarQube project
        sonarProjectKey: jslachta_LocaleNames
        # The name of the SonarQube project
        sonarProjectName: LocaleNames
        # The name of the SonarQube organization in SonarCloud. For hosted SonarQube, skip this setting.
        sonarOrganization: jslachta
        # Optional command arguments to 'dotnet build'
        dotnetBuildArguments: ./src
        # Optional command arguments to 'dotnet test'
        dotnetTestArguments: ./src --logger trx --collect:"XPlat Code Coverage" -- DataCollectionRunSettings.DataCollectors.DataCollector.Configuration.Format=opencover
        # Optional extra command arguments the the SonarScanner 'begin' command
        sonarBeginArguments: /d:sonar.cs.opencover.reportsPaths="**/TestResults/**/coverage.opencover.xml" -d:sonar.cs.vstest.reportsPaths="**/TestResults/*.trx"
        # The SonarQube server URL. For SonarCloud, skip this setting.
        sonarHostname: https://sonarcloud.io
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
